/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #204829;
}

code {
  color: #e01a76;
}

.btn {
  color: #92e5a1;
  background-color: #80ce87;
  border-color: #92e5a1;
}

/* body {
  background-color: #020204;
} */
